<!-- templates/tu_template.html -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla HTML</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <table>
        {% for clave, valor in dato.items() %}
            <tr>
                <td>{{ clave }}:</td>
                <td>{{ valor }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
