<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC2</title>
    <style>table{border-collapse:collapse;width:100%}table,th,td{border:1px solid black}</style>
</head>
<body>
    <h1>Aliado</h1>
    <table border="1">
            <tr>
                <td>Codigo:</td>
                <td>{{ aliado.Codigo }}</td>
            </tr>
            <tr>
                <td>Negocio:</td>
                <td>{{ aliado.Negocio }}</td>
            </tr>
            <tr>
                <td>Apertura:</td>
                <td>{{ aliado.Apertura }}</td>
            </tr>
            <tr>
                <td>Categoria:</td>
                <td>{{ aliado.Categoria }}</td>
            </tr>
    </table>
</body>
</html>