<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC2</title>
</head>
<body>
    <table>
            <tr>
                <td>Codigo:</td>
                <td>{{ producto.Codigo }}</td>
            </tr>
            <tr>
                <td>Categoria:</td>
                <td>{{ producto.Categoria }}</td>
            </tr>
            <tr>
                <td>Descripcion:</td>
                <td>{{ producto.Descripcion }}</td>
            </tr>
            <tr>
                <td>Presentacion:</td>
                <td>{{ producto.Presentacion }}</td>
            </tr>
            <tr>
                <td>PrecioSol:</td>
                <td>{{ producto.PrecioSol }}</td>
            </tr>
    </table>
</body>
</html>